.main{
	background-color: hsl(233, 47%, 7%);
	width: 1300px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;

}
.get{
	background-color:hsl(244, 38%, 16%);
	width: 1150px;
	height: 500px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: 50px;
	border-radius: 9px;
	display: flex;

}
span{
	color: hsl(277, 64%, 61%);
}
h2{
	font-family: sans-serif;
	color: hsl(0, 0%, 100%);
	margin-left: 64px;
	position: relative;
	top: 70px;
	width: 60%;
}
#discover{
	font-family: sans-serif;
	font-size: 19px;
	color: hsl(0, 0%, 100%);
	position: relative;
	top: 80px;
	margin-left: 64px;
}
#text{
	margin-top: 140px;
	font-size: 30px;
}
#company{
	margin-top: 80px;
	color: hsl(0, 0%, 100%);
	margin-left: 64px;
	font-family: sans-serif;
}
#number{
	margin-top: -147px;
	font-size: 30px;
	margin-left: 244px;
}
#templates{
	margin-top: 78px;
	color: hsl(0, 0%, 100%);
	margin-left: 242px;
	font-family: sans-serif;
}
#third{
	font-size: 30px;
	margin-top: -145px;
	margin-left: 412px;
}
#queries{
	margin-top: 77px;
	color: hsl(0, 0%, 100%);
	margin-left: 416px;
	font-family: sans-serif;
}
img{
	border-radius: 7px;
	margin-left: 57px;
	height: 498px;
 margin-top: 3px;
 border-radius: 7px;
 background-color: purple;
 background-blend-mode: multiply;
}
/*img{
	margin-left: 545px;
	height: 498px;
    margin-top: -428px;
    border-radius: 7px;
}*/
/*data{
	background-color: hsl(277, 64%, 61%);
	}.
	bg-fun{
 background-color: hsl(277, 64%, 61%); /* Fallback color */
  /*background-color: rgba(0,0,0, 0.4); *//* Black w/opacity/see-through */
   /*padding: 80px;
  border: 10px solid hsl(277, 64%, 61%);
  position: fixed;
  
  width: 350px;
  height: 350px;;
  background-image: url(image-header-desktop.jpg);
   background-repeat: no-repeat, repeat;
  }
  /*
background-image: url(img_flwr.gif), url(paper.gif);
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  padding: 15px;*/